:root{

    /* --------------------------------------- COLORES 	*/
    --color-principal: #64b5f6;
    --color-secundario: #1b1919;
    --color-fondo-principal: #f1f1f1;
    --color-titulo: white;
    --color-header: var(--color-secundario);


    --ancho-maximo: 1200px;
    --ancho-minimo: 200px;


    /* --------------------------------------- ALTURAS 	*/
    --ancho-movil-1: 670px;
    --altura-logo-h: 35px;
    --altura-logo-f: 40px;
    --tamanio-redes: 20px;
    --tamanio-redes-movil: 30px;
    --altura-logo-movil-f: 60px;


    --altura-superior-h: 60px;
    --header-altura-franja: 10px;
    --altura-menu-movil: 200px;
    --altura-header: calc(var(--altura-superior-h) + var(--header-altura-franja));
    --padding-movil: 25px;

    --altura-footer: 120px;
    --altura-footer-movil: 310px;

    --altura-menu-movil: 105px;
    --margin-footer: 40px;
    /* --------------------------------------- CAJAS */
    --padding-contenido: 20px;
}

@viewport{
    zoom: 1.0;
    width: device-width;
}

a {
    text-decoration: none;
    text-overflow: inherit;
    color: black;
    display: grid;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: var(--color-fondo-principal);
    margin: 0;
    margin-bottom: calc(var(--altura-footer) + var(--margin-footer));
}

.contenedor-body{
    min-height: 100%;
    width: 100%;
}

.main{
    overflow: auto;
    padding-bottom: var(--footer-escritorio);
}



@media screen and (max-width: 530px) {
    body{
        margin-bottom: calc(var(--altura-footer-movil) + var(--margin-footer));
    }
}

header{
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
	min-width: var(--ancho-minimo);
	background-color: var(--color-header);
	height: var(--altura-header);
    box-shadow: 0 0px 12px 6px rgba(0, 0, 0, 0.6);
}

header > .padre-sup{
	height: var(--altura-superior-h);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 var(--padding-movil);
}

header > .padre-sup > .hijo-sup{
	height: var(--altura-superior-h);
	display: flex;
	max-width: var(--ancho-maximo);
	width: 100%;
	justify-content: space-between;
	align-items: center;
    margin: 0 10px;
}

.logo-titulo{
	display: flex;
	align-items: center;
}

#logo-h{
	width: var(--altura-logo-h);
}

#titulo-h{
	font: normal bold 20px 'Lato',sans-serif;
	white-space: nowrap;
	color: white;
	letter-spacing: 2px;
    margin: 0;
	margin-left: 10px;
    padding-top: 2px;
}

#franja-amarilla-h{
	height: var(--header-altura-franja);
	background-color: var(--color-principal);
}

#menu-header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	align-content: center;
	height: inherit;
}
#menu-header > #lista{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0;
	padding-top: 2px;
	margin: 0;
}

li{
	display: inline-block;
}

.item{
	white-space: nowrap;
    font: normal 500 15px 'Lato',sans-serif;
    color: white;
    letter-spacing: 2px;
    margin-left: 20px;
    padding: 5px 10px 5px 5px;
}

.hipervinculo-h{
	display: inline-block;
	padding: 0;
	text-decoration: none;
	color: white;
}

.hipervinculo-h:hover{
    text-decoration: none;
	color: var(--color-principal);
}

.logo-menu{
	display: none;
}

@media (max-width: 670px){

    header > .padre-sup{
        padding: 0 5px;
    }

	#menu-header{
	    position: fixed;
	    display: flex;
	    justify-content: left;
	    z-index: 1;
	    left: 0;
		top: var(--altura-header);
		background-color: var(--color-principal);
		width: 100%;
		height: var(--altura-menu-movil);
	}

	.logo-menu{
		cursor: pointer;
		display: block;
		width: 30px;
	}

	.barra-menu{
		display: inline-block;
		height: 4px;
		background-color: var(--color-principal);
		width: 100%;
		border-radius: 5px;
		transition: all 0.5s;
	}

	.dos{
		margin: 5px 0;
	}

	.rotar .dos{
		opacity: 0;
	}

	.rotar .uno{
		transform: rotate(45deg) translate(6px, 7px);
	}

	.rotar .tres{
		transform: rotate(-45deg) translate(6px, -7px);
	}

	#menu-header > #lista{
		width: 100%;
		display: block;
	}

	.item{
		margin-bottom: 10px;
		font: normal 800 20px 'Lato',sans-serif;
		color: var(--color-secundario);
	}

	.item:hover{
		color: white;
	}

	li{
		display: block;
	}
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

